<%= form_for @mark do |f| %>
	<p>
		<%= f.label :student %>
		<%= f.collection_select(:group, Student.all, :id, :name) %>
	</p>
	</p>
	
	<p>
		<%= f.label :subject %>
		<%= f.collection_select(:group, Subject.all, :id, :name) %>
	</p>
	</p>
	<p>
		<%= f.label :group %>
		<%= f.collection_select(:group, Group.all, :id, :name) %>
	</p>
	</p>
	<p>
		<%= f.label :marks %>
		<%= f.text_field :marks %>

	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>