<%= form_for @student do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :group %>
		<%= f.collection_select(:group, Group.all, :id, :name) %>
	</p>
	<p>
		<%= f.label :Subject %>
		<%= f.collection_select(:group, Subject.all, :id, :name) %>

	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>